.header{
    height: 20px;
    background-color: gray;
    display: flex;
    align-items: center;
    padding: 1rem;
}
.header img{
    height: 35px;
    margin-left: 3em;
}
/*--------------------------------------------------<|"RESPONSIVE"|>--------------------------------------------------*/
@media (min-width:350px) and (max-width:600px) {
    .header{
        height: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .header img{
        margin-left: 0;
        height: 32px;
    }
}