@font-face {
    font-family: 'Catamaran';
    src: url(../fonts/Catamaran-VariableFont_wght.ttf);
}
@font-face {
    font-family: 'Heebo';
    src: url(../fonts/Heebo-VariableFont_wght.ttf);
}
body{
    margin: 0;
    padding: 0;
}
main{
    display: flex;
    width: 100vh;
}
.main{
    right: 0;
    position: absolute;
    width: calc(100% - 180px);
}
/*--------------------------------------------------SIDEBAR--------------------------------------------------*/
.menu{
    background-color: rgb(87, 87, 87);
    width: 180px;
    height: 100vh;
    z-index: 1;
    font-family: 'Catamaran';
    transition: all 500ms;
}
.sidebar a{
    text-decoration: none;
    color: white;
}
.sidebar img{
    display: flex;
    width: 100px;
    margin: 1em auto;
    border-radius: 50%;
}
.profile{
    text-align: center;
    color: white;
}
.profile i{
    display: none;
}
.profile b, p{
    margin: 0;
}
/*---------------PRINCIPAL---------------*/
#home{
    display: flex;
    margin-top: 1rem;
    margin-bottom: .5rem;
    transition: .1s;
}
#home b{
    margin-left: 1rem;
}
#home i{
    margin-right: 14px;
}
#home:hover{
    color: rgb(121, 121, 255);
    transition-timing-function: ease-in-out;
}
/*---------------PROCESOS---------------*/
.processes{
    font-size: 16px;
    margin-bottom: 1rem;
}
.processes b{
    margin-bottom: 5px;
    margin-left: 1rem;
}
.processes ul{
    padding: 0;
    margin: 0;
    list-style: none;
    color: white;
}
.processes ul li{
    margin: 0;
    width: 100%;
    display: flex;
    align-items: center;
    height: 30px;
    transition: .1s;
}
.processes ul li i{
    margin-right: 14px;
    margin-left: 1rem;
    transition: .1s;
}
.processes ul li p{
    transition: .1s;
}
.processes ul li:hover{
    background-color: rgb(121, 121, 255);
}
.processes ul li:hover i{
    transform: translateX(50%);
    transition-timing-function: ease-in-out;
}
.processes ul li:hover p{
    transform: translateX(12%);
    transition-timing-function: ease-in-out;
}
/*---------------CERRAR SESION--------------*/
#close{
    display: flex;
    align-items: center;
    padding: 1% 0;
    transition: .1s;
}
#close i{
    margin-right: 14px;
    margin-left: 1rem;
    transition: .1s;
}
#close p{
    transition: .1s;
}
#close:hover{
    background-color: rgb(121, 121, 255);
}
#close:hover i{
    transform: translateX(-50%);
    transition-timing-function: ease-in-out;
}
#close:hover p{
    transform: translateX(-30%);
    transition-timing-function: ease-in-out;
}
/*--------------------------------------------------NAVBAR--------------------------------------------------*/
.navbar{
    height: 30px;
    background-color: rgb(190, 190, 190);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1% 2rem;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.5);
    font-family: 'Catamaran';
    font-size: 20px;
}
.navbar .title{
    display: flex;
    align-items: center;
    justify-content: center;
}
.navbar i{
    display: none;
    margin-right: 1rem;
}
.navbar img{
    width: 70px;
}
/*--------------------------------------------------CONTENT--------------------------------------------------*/
.content{
    padding: 3%;
}
/***--------------------------------------------------<=|["RESPONSIVE"]|=>--------------------------------------------------***/
@media (min-width:350px) and (max-width:600px) {
    .menu{
        position: absolute;
        left: -180px;
        overflow: scroll;
    }
    .main{
        position: fixed;
        width: 100%;
    }
    .navbar{
        padding: 1% 1rem;
    }
    .navbar i{
        display: block;
    }
    .navbar b{
        font-size: 15px;
    }
    .navbar img{
        width: 45px;
    }
    .profile i{
        display: block;
        top: 10px;
        left: 10px;
        position: absolute;
        font-size: 25px;
        font-weight: bold;
    }
    .container-form{
        width: 100%;
    }
    form{
        transform: scale(90%);
    }
}